  body{
    margin: 0;
    padding: 0;
    border:0;
    height: 2000px;
    /*background-color: rgb(240,255,200);*/
  }
/* got the nav bar here  html information for nav bars found here https://www.w3schools.com/css/css_navbar.asp*/
  header {
    width: 100%;
  }

  nav{
    background-color: rgb(59, 64, 57);
  }

  header nav ul li{
    list-style-type: none;
    padding: 10px;
    
  }

  header nav ul {
    display: inline-block;
  }

 
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb();
  }

  li{
    float: left;
    height: 70px;
    width: 200px;
  }

  li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 26px;
  }
  li a:hover{
    background-color: rgb(66, 245, 132); 
  }

  header nav ul li img {
    width: 200px;
    height: 70px;

/*the code bellow is for the top box that has for elements  hero960x450 and three elements with a size of300x375*/
  }
  main{
    margin: 0 auto;
    width: 960px;
    height: 2000px;
    background-color: rgb(70, 235, 223) ;
  }
  main div #topcontent{
    background-color: rgb(224, 230, 184);
    width: 100%;
    height: 920px;
  }
  main div img #hero{
    width: 960px;
    height: 450px;
  }
  
  main div img #bannerleft{
    background-color: rgb(125, 134, 219);
    width: 300px;
    height: 375px;
    padding: 0 auto;

  }

  main div img #bannercenter{
    background-color: rgb(125, 11, 219);
    width: 300px;
    height: 375px;
    padding: 100px;
  }

  main div img #bannerright{
    background-color: rgb(125, 134, 21);
    width: 300px;
    height: 375px;
    padding: 0 auto;
  }

  main div img #bottomleft{
    background-color: rgb(125, 134, 21);
    width: 300px;
    height: 375px;
    padding: 0 auto;
  }

  main div p #bottomleft{
    background-color: rgb(125, 134, 21);
    width: 300px;
    height: 375px;
    padding: 0 auto;
  }

  