/* got the information for background image here https://www.w3schools.com/cssref/pr_background-image.asp */
body{
  background-image: url("images/beachandsky.jpg");
}
image{
  display: inline-table;
  position: relative;
  height: 30px;
}

div {
  background-color:rgb(230, 231, 240);
  margin: 0em;
  padding: 1.2em;
  margin-right: 5em;
  margin-left: 5em;
  border-radius: 25px;
}

h1, h2, h3, p, li, footer {
  font-family: 'cursive', fantasy;
}
p, h2, ol {
  position: relative;
}

h1, footer {
  
  color:rgb(112, 138, 131);
  text-align: center;
}

h3 {
  color: rgb(144, 122, 179);
}
p{
  color: rgb(100,100,100);
  position: relative;
}

li{
  font-family: 'cursive' fantasy;
  border-style: 1px, solid;
}
footer{
  padding: 5em;
  background-color: rgb (100,0,200);
}
#owner{
  text-align: left;
  margin-right: 200px;
  width: 200px;
  font-size: 20px;
}
.nexttoimage{
  align: right;
  position: absolute;
  width: 200px;
  display: inline-table;

}
#guestName{
  text-align:center;
  font-size: 50px;
}
.guest {
  padding-left:30px;
}